In [1]:
import pandas as pd

In [2]:
file_path = "holding_min.csv"
df = pd.read_csv(file_path)

In [3]:
df

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [4]:
"""
select * from df limit 3;
"""
df.head(3)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644

In [5]:

df.tail(3)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
999997,3092652,2020/12/31,25,2021/01/08,0.5,13662.0,660967.56,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.5,1794.0,658900.32,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.5,10902.0,655428.24,INTERACTIVE BROKERS GROUP INC,45841N10

In [6]:
df[5:10]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
5,2998623,2020/11/30,6,2021/01/08,1.64,866386.0,1.997713e+08,GOLDMAN SACHS GROUP INC,38141G10
6,2998623,2020/11/30,7,2021/01/08,1.63,2194727.0,1.976352e+08,C S X CORP,12640810
7,2998623,2020/11/30,8,2021/01/08,1.60,5045923.0,1.939653e+08,AMERICAN INTERNATIONAL GROUP INC,02687478
8,2998623,2020/11/30,9,2021/01/08,1.59,1403360.0,1.937619e+08,P N C FINANCIAL SERVICES GRP INC,69347510
9,2998623,2020/11/30,10,2021/01/08,1.54,3065766.0,1.874409e+08,C B R E GROUP INC,12504L10

In [7]:
# report_dt	security_rank	eff_dt	percent_tna	nbr_shares
df.loc[5:10, "report_dt":"nbr_shares"]

     report_dt  security_rank      eff_dt  percent_tna   nbr_shares
5   2020/11/30              6  2021/01/08         1.64     866386.0
6   2020/11/30              7  2021/01/08         1.63    2194727.0
7   2020/11/30              8  2021/01/08         1.60    5045923.0
8   2020/11/30              9  2021/01/08         1.59    1403360.0
9   2020/11/30             10  2021/01/08         1.54    3065766.0
10  2020/11/30             11  2021/01/08         1.54  186854700.0

In [8]:
df.iloc[5:10, 1:4]

    report_dt  security_rank      eff_dt
5  2020/11/30              6  2021/01/08
6  2020/11/30              7  2021/01/08
7  2020/11/30              8  2021/01/08
8  2020/11/30              9  2021/01/08
9  2020/11/30             10  2021/01/08

In [9]:
df.columns

Index(['portno', 'report_dt', 'security_rank', 'eff_dt', 'percent_tna',
       'nbr_shares', 'market_val', 'security_name', 'cusip'],
      dtype='object')

In [10]:
df.dtypes

portno            object
report_dt         object
security_rank      int64
eff_dt            object
percent_tna      float64
nbr_shares       float64
market_val       float64
security_name     object
cusip             object
dtype: object

In [11]:
df

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [12]:
df["portno"].unique()

array(['2998623', '2998638', '2998809', ..., '3092616', '3092619',
       '3092652'], shape=(3867,), dtype=object)

In [13]:
df["market_val"].mean()

np.float64(8295992.48728733)

In [14]:
df["market_val"].std()

np.float64(81533843.6139392)

In [15]:
df["market_val"].max()

np.float64(18628182175.98)

In [16]:
df["market_val"].median()

np.float64(866643.115)

In [17]:
df.describe()

        security_rank     percent_tna    nbr_shares    market_val
count  1000000.000000  1000000.000000  1.000000e+06  1.000000e+06
mean       878.182552        0.313768  4.992272e+07  8.295992e+06
std       1319.490208        1.713193  1.176281e+10  8.153384e+07
min          1.000000     -200.000000 -4.398750e+12 -7.381045e+09
25%        116.000000        0.010000  2.069500e+04  1.783209e+05
50%        398.000000        0.050000  2.000000e+05  8.666431e+05
75%       1090.000000        0.210000  1.208042e+06  3.516512e+06
max      12388.000000      300.080000  6.667220e+12  1.862818e+10

In [18]:
df["portno"].value_counts()

portno
3076812    10798
3062442     9285
3092256     8456
307883d     8331
3062436     7676
           ...
3075153        1
307512c        1
3073329        1
3080052        1
3082554        1
Name: count, Length: 3867, dtype: int64

In [19]:
df["portno"] == "3076812"

0         False
1         False
2         False
3         False
4         False
          ...
999995    False
999996    False
999997    False
999998    False
999999    False
Name: portno, Length: 1000000, dtype: bool

In [20]:
df[df["portno"] == "3076812"]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
583402,3076812,2020/09/30,1,2021/01/08,0.39,270410000.0,2.977322e+08,SOUTHEAST ALA GAS SUPPLY DIST GAS SUPPLY REV 4...,84131TAF
583403,3076812,2020/09/30,2,2021/01/08,0.32,224685000.0,2.480500e+08,Public Energy Authority of Kentucky Trust 4% 0...,74440DAR
583404,3076812,2020/09/30,3,2021/01/08,0.29,200205000.0,2.204237e+08,MAIN STR NAT GAS INC GA GAS SUPPLY REV 4.000% ...,56035DAW
583405,3076812,2020/09/30,4,2021/01/08,0.26,192000000.0,1.997414e+08,METROPOLITAN TRANSN AUTH N Y REV 5.000% 15-Nov...,59261AVF
583406,3076812,2020/09/30,5,2021/01/08,0.25,187013000.0,1.905980e+08,Puerto Rico Sales Tax Financing Corp 4.329% 01...,74529JRH
...,...,...,...,...,...,...,...,...,...
594195,3076812,2020/09/30,10806,2021/01/08,0.00,5000.0,5.151050e+03,NEW YORK ST ENVIRONMENTAL FACS CORP REV 5.000%...,64985HQE
594196,3076812,2020/09/30,10806,2021/01/08,0.00,5000.0,5.151050e+03,NEW YORK ST ENVIRONMENTAL FACS CORP REV 5.000%...,64985HPY
594197,3076812,2020/09/30,10806,2021/01/08,0.00,5000.0,5.151050e+03,NEW YORK ST ENVIRONMENTAL FACS CORP REV 5.000%...,64985HPZ
594198,3076812,2020/09/30,10806,2021/01/08,0.00,10000.0,1.030210e+04,NEW YORK ST ENVIRONMENTAL FACS CORP REV 5.000%...,64985HQD
594199,3076812,2020/09/30,10806,2021/01/08,0.00,10000.0,1.193880e+04,CALIFORNIA ST DEPT WTR RES CENT VY PROJ REV 5....,13067WKE

In [ ]:
"""
select
    *
from df
where
    portno = '3076812'
    and eff_dt = '2021/01/08'
"""
filter_portno_is_3076812 = df["portno"] == "3076812"
filter_dff_dt_at_2021_01_08 = df["eff_dt"] == "2021/01/08"
df[
    filter_portno_is_3076812 & filter_dff_dt_at_2021_01_08
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [22]:
"""
select
    *
from df
where
    portno = '3076812'
    or eff_dt = '2021/01/08'
"""
df[
    filter_portno_is_3076812 | filter_dff_dt_at_2021_01_08
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [ ]:
"""
select *
from df
where
    (portno = '3076812' and eff_dt = '2021/01/08')
    or percent_tna > 0.5
"""
filter_portno_is_3076812 = df["portno"] == "3076812"
filter_dff_dt_at_2021_01_08 = df["eff_dt"] == "2021/01/08"
filter_percent_tna_gt_05 = df["percent_tna"] > 0.5
df[
    (filter_portno_is_3076812 & filter_dff_dt_at_2021_01_08) | filter_percent_tna_gt_05
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999989,3092652,2020/12/31,17,2021/01/08,0.53,4002.0,6.995896e+05,FIVE 9 INC,33830710
999990,3092652,2020/12/31,18,2021/01/08,0.53,71622.0,6.961658e+05,ZYNGA INC,98986T10
999991,3092652,2020/12/31,19,2021/01/08,0.53,7590.0,6.950922e+05,ACTIVISION BLIZZARD INC,00507V10
999992,3092652,2020/12/31,20,2021/01/08,0.52,4830.0,6.861015e+05,ELECTRONIC ARTS INC,28551210
999993,3092652,2020/12/31,21,2021/01/08,0.51,4002.0,6.683740e+05,LILLY ELI & CO,53245710

In [24]:
df[
    ~filter_portno_is_3076812
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

# Group by

In [25]:
df.groupby("portno")

In [ ]:
"""
SELECT
    portno
    , COUNT(1)
FROM table
GROUP BY portno, eff_dt
"""
df.groupby(["portno", "eff_dt"]).size()

portno   eff_dt
2998623  2021/01/08    351
2998638  2021/01/08     77
2998809  2021/01/08     70
2998821  2021/01/08     54
2999052  2021/01/08      2
                      ...
309260a  2021/01/08      2
309260d  2021/01/08    514
3092616  2021/01/08      1
3092619  2021/01/08    403
3092652  2021/01/08     27
Length: 3867, dtype: int64

In [ ]:
"""
select
    portno
    , eff_dt
    , sum(percent_tna) as percent_tna
    , sum(nbr_shares) as nbr_shares
from df
group by portno, eff_dt
"""
df.groupby(["portno", "eff_dt"]).sum()[
    ["percent_tna", "nbr_shares"]
]

                    percent_tna    nbr_shares
portno  eff_dt
2998623 2021/01/08        99.79  3.817768e+09
2998638 2021/01/08        99.89  4.856478e+08
2998809 2021/01/08        99.50  1.312320e+08
2998821 2021/01/08       100.01  7.659816e+07
2999052 2021/01/08         0.08  8.600000e+05
...                         ...           ...
309260a 2021/01/08         0.10  5.265000e+06
309260d 2021/01/08       100.79 -1.411982e+10
3092616 2021/01/08         0.07  3.198600e+04
3092619 2021/01/08       100.06  5.315248e+06
3092652 2021/01/08       118.57  1.346848e+08

[3867 rows x 2 columns]

In [31]:
"""
select
    portno
    , eff_dt
    , sum(percent_tna) as percent_tna
    , sum(nbr_shares) as nbr_shares
from df
group by portno, eff_dt
having sum(percent_tna) > 0.5
"""
df_groupby = df.groupby(["portno", "eff_dt"]).sum()[
    ["percent_tna", "nbr_shares"]
]
filter_percent_tna_gt_05 = df_groupby["percent_tna"] > 0.5
df_groupby[filter_percent_tna_gt_05]

                    percent_tna    nbr_shares
portno  eff_dt
2998623 2021/01/08        99.79  3.817768e+09
2998638 2021/01/08        99.89  4.856478e+08
2998809 2021/01/08        99.50  1.312320e+08
2998821 2021/01/08       100.01  7.659816e+07
3000255 2021/01/08        99.58  1.546017e+07
...                         ...           ...
3092541 2021/01/08       100.00  5.468644e+07
3092544 2021/01/08       100.05  7.172746e+07
309260d 2021/01/08       100.79 -1.411982e+10
3092619 2021/01/08       100.06  5.315248e+06
3092652 2021/01/08       118.57  1.346848e+08

[3362 rows x 2 columns]

In [32]:
"""
select
    portno
    , eff_dt
    , sum(percent_tna) as percent_tna
    , sum(nbr_shares) as nbr_shares
from df
group by portno, eff_dt
having sum(percent_tna) > 0.5
order by percent_tna desc
"""
df_groupby = df.groupby(["portno", "eff_dt"]).sum()[
    ["percent_tna", "nbr_shares"]
]
filter_percent_tna_gt_05 = df_groupby["percent_tna"] > 0.5
df_groupby[filter_percent_tna_gt_05].sort_values("percent_tna", ascending=False)

                    percent_tna    nbr_shares
portno  eff_dt
3067725 2021/01/08       214.07  1.775592e+07
3082161 2021/01/08       202.37 -2.890913e+09
3083223 2021/01/08       195.40  2.344284e+08
3072729 2021/01/08       155.01  3.779328e+07
306955e 2021/01/08       151.95  1.154799e+10
...                         ...           ...
3087954 2021/01/08         0.53  3.250000e+06
308382f 2021/01/08         0.53  9.725800e+04
3072210 2021/01/08         0.52  3.163300e+04
306951c 2021/01/08         0.52  8.700000e+06
3069840 2021/01/08         0.52  2.645020e+07

[3362 rows x 2 columns]

In [33]:
"""
select
    portno
    , eff_dt
    , sum(percent_tna) as percent_tna
    , sum(nbr_shares) as nbr_shares
from df
group by portno, eff_dt
having sum(percent_tna) > 0.5
order by percent_tna desc, nbr_shares
"""
df_groupby = df.groupby(["portno", "eff_dt"]).sum()[
    ["percent_tna", "nbr_shares"]
]
filter_percent_tna_gt_05 = df_groupby["percent_tna"] > 0.5
df_groupby[filter_percent_tna_gt_05].sort_values(
    ["percent_tna", "nbr_shares"], ascending=[False, True],
)

                    percent_tna    nbr_shares
portno  eff_dt
3067725 2021/01/08       214.07  1.775592e+07
3082161 2021/01/08       202.37 -2.890913e+09
3083223 2021/01/08       195.40  2.344284e+08
3072729 2021/01/08       155.01  3.779328e+07
306955e 2021/01/08       151.95  1.154799e+10
...                         ...           ...
3087954 2021/01/08         0.53  3.250000e+06
3056463 2021/01/08         0.53  8.421000e+06
3072210 2021/01/08         0.52  3.163300e+04
306951c 2021/01/08         0.52  8.700000e+06
3069840 2021/01/08         0.52  2.645020e+07

[3362 rows x 2 columns]