In [1]:
import pymysql

In [14]:
# 設定資料庫連線資訊
host = 'localhost'
port = 3306
user = 'root'
passwd = 'pasword'
db = 'TESTDB'
charset = 'utf8mb4'

conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

Successfully connected!

In [16]:
cursor = conn.cursor()

In [11]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

IntegrityError: (1062, "Duplicate entry '001' for key 'Staff.PRIMARY'")

In [ ]:
"""
1. insert
2. delete
3. update
"""
conn.commit()

In [20]:
sql = """
select * from Staff
"""
cursor.execute(sql)

1

In [21]:
data = cursor.fetchall()

data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [19]:
cursor.fetchall()

()

In [22]:
sql = """
delete from Staff
"""

cursor.execute(sql)
conn.commit()

In [23]:
cursor.close()
conn.close()